* {
    background-color: #0a0d12;
    color: lightslategrey;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #575f7e;
}