* {
    background-color: #0a0d12;
    color: lightslategrey;
    box-sizing: border-box;
    margin-left: 0.3rem;
    margin-right: 0.4rem;
}

body {
    font-family: "Karla", sans-serif;
}

form {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input {
    width: 230px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem;
}

input[type=text] {
    width: 100%;
    padding: 20px 13px;
    box-sizing: border-box;
    font-family: Karla;
    font-style: 20px;
    font-weight: 400px;
}

::placeholder {
    color: grey;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    padding-left: calc(20%);
}

.center {
    display: flex;
    justify-content: center;
}

p {
    color: grey;
    font-family: Karla;
    font-size: 1.7em;
    font-weight: 400;
    padding-left: calc(0%);
}