* {
    background-color: #0a0d12;
    color: lightslategrey;
    box-sizing: border-box;
    margin-left: 0.3rem;
    margin-right: 0.4rem;
}

body {
    font-family: "Karla", sans-serif;
}

input {
    width: 230px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem;
}

input[type=text] {
    width: 100%;
    padding: 20px 13px;
    box-sizing: border-box;
    font-family: Karla;
}

::placeholder {
    color: grey;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    padding-left: calc(50% - 12%);
}


