.meme-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}

.meme-img {
    width: 477px;
    height: 268px;
    border-radius: 2px;
}

.top-text {
    position: absolute;
    top: 16rem;
    color: white;
    font-family: Impact;
    font-size: 32px;
    font-weight: 900;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
}

.bottom-text {
    position: absolute;
    top: 28.5rem;
    color: white;
    font-family: Impact;
    font-size: 32px;
    font-weight: 900;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: black;
}