* {
    background-color: #0a0d12;
    color: lightslategrey;
}

.pos {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    float: left;
    gap: 1rem;
}
