* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #11141e;
    color: white;
}

header {
    height: 65px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    padding-inline: 20px;
    background-color: #0a0d12
}

section {
    padding: 20px;
}