* {
    background-color: #0a0d12;
    color: lightslategrey;
    box-sizing: border-box;
    margin: 4px;
}

body {
    font-family: "Karla", sans-serif;
}

section {
    position: relative;
    display: grid;
    place-items: center;
    top: -2vh;
}

.allnames {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.inputtext {
    height: 38px;
    border-radius:8px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem;
}


input[type=text] {
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    font-family: Kara;
    font-style: 20px;
    font-weight: 400px;
}

::placeholder {
    color: grey;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.center {
    text-align: center;
}

p {
    color: grey;
    font-family: Karla;
    font-size: 1.3em;
}

.prompt {
    color: grey;
    font-family: Karla;
    font-size: 1.5em;
}

textarea {
    width: 300px;
    height: 17vh;
    border-radius:8px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem;
}

textarea[type=text] {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    font-family: Karla;
    font-style: 20px
    font-weight: 400px;
}

/* Style the container div */
.inputcheck {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.checkbox-input {
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: darkslategray;
    border: 2px solid grey;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
}

.checkbox-input:checked {
    background-color: green;
    border-color: grey;
}

/* Style the label */
.checkbox-label {
    color: grey;
    font-family: Karla;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.centerField{
    display: flex;
    justify-content: center;
    align-content: center;
}

fieldset {
    width: 386px;
    height: 20vh;
    border-radius:8px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem;
}

select {
    width: 100px;
    height: 4vh;
    border-radius:8px;
    border: 1px solid #D5D4D8;
    margin-top: 1rem
}

button {
    padding: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 2px solid white;
    border-radius: 14px;
}